/* Class Colors */
.closeDueDate {
    background-color: #ffe599;
}

.medDueDate {
    background-color: #b6d7a8;
}

.pastDueDate {
    background-color: #ea9999;
}

.farDueDate {
    background-color: white;
}

/* .class1Color {
    background-color: #f9cb9c;
}

.class2Color {
    background-color: #e06666;
}

.class3Color {
    background-color: #93c47d;
}

.class4Color {
    background-color: #9fc5e8;
}

.class5Color {
    TODO: change color or text color to increase contrast in improve accessiblity
    background-color: #666666;
} */

#atAGlancePage td:has(input) {
    position: relative;
}
#atAGlancePage td input {
    width: 100%;
    height: 100%;
}
/* Popup Styling */
#dueDatePopup {
    padding: 5px;
    padding-top: 0px;
    border: 2px solid;
    border-radius: 5px;
    background-color: whitesmoke;
    /* Don't show it yet */
    display: none;
}

/* Table Styling */
table {
    border-collapse: collapse;
    width: 96vw;
    table-layout: auto;
}

td {
    text-align: center;
    /* Set default so it comes back after being in portrait mode */
    display: table-cell;
}

/* Funny fix to make columns shrink to content */
#assignmentsTable td:nth-child(n+1):nth-child(-n+2), #assignmentsTable td:last-child { /* Select first two and last table data tag */
    width: 0.1%;
    white-space: nowrap;
}

#classesTable td {
    padding: 5px;
    padding-top: 10px;
    border: #9e9e9e 5px solid;
}

#assignmentsTable td {
    border: #9e9e9e 2px solid;
    padding: 1vw;
}

#assignmentsTable thead td {
    text-decoration: underline;
}

.dueDate {
    border-radius: 5px;
    border: black 2px solid;
    display:inline;
    padding: 5px;
}

/* Move content to top of main page */
main {
    justify-content: start;
    overflow-x: auto;
}

/* Declare font sizes */
.biggerText {
    font-size: 20px;
}

.smallText {
    font-size: 10px
}

.normalText {
    font-size: 16px;
}

#addAssignmentButton {
    background-color: #b4a7d6;
    border: black 2px solid;
    border-radius: 5px;
    padding: 5px;
    float: right;
}

.sameLine {
    width: 96vw;
}


@media screen and (orientation: portrait) {
    .biggerText {
        font-size: 18px; /* Adjust the size as needed */
    }

    .smallText {
        font-size: 6px; /* Adjust the size as needed */
    }

    .normalText {
        font-size: 14px; /* Adjust the size as needed */
    }
    #classesTable td:first-child {
        display: none
    }
}