body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100vh;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgb(30, 29, 29);
    flex: 0 10vh;
    width: 96vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2vw;
    padding-right: 2vw;
    display: flex;
    justify-content: center;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    flex: 0 3vh;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 2vh;
}

footer > a {
    float: right;
}

footer > p {
    display: inline;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-inline-start: 40px;
    float: right;
}

menu li {
    list-style: none;
    padding: 0 0.3em;
}

nav > a {
    font-size: 4vw;
    color: white;
}

menu > li > a {
    font-size: 2.75vw;
    color: rgb(115, 115, 115);
    padding-left: 2vw;
}

menu > li > a:hover, a.currPage {
    font-size: 3vw;
    color: whitesmoke;
    padding-left: 2vw;
}

hr {
    margin: 0;
}