body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.loginField {
    box-sizing: border-box;
    width: 100%;
    display: block;
    font-size: 4vw;
    color: #B7B7B7;
    border: 2px solid #000000;
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 15px;
}

.shrinker {
    width: 50%;
}


.loginButtons {
    width: 100%;
}

.loginButtons button {
    font-size: 4vw;
    width: 49%;
    border-radius: 15px;
}

.loginButtons button:nth-child(1) {
    background-color: #93C47D;
    float: left;
}
.loginButtons button:nth-child(1):active {
    background-color: #83b16f;
    float: left;
    
}

.loginButtons button:nth-child(2) {
    background-color: #6D9EEB;
    float: right;
}

.loginButtons button:nth-child(2):active {
    background-color: #44659b;
    float: right;
}

header {
    background-color: rgb(30, 29, 29);
    flex: 0 10vh;
    width: 96vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2vw;
    padding-right: 2vw;
    display: flex;
    justify-content: center;
}

footer {
    flex: 0 3vh;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 2vh;
}

footer > a {
    float: right;
}

footer > p {
    display: inline;
}


main {
    flex: 1 86vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-inline-start: 40px;
    float: right;
}
menu li {
    list-style: none;
    padding: 0 0.3em;
}
nav > a {
    font-size: 5vw;
    color: white;
}
menu > li > a {
    font-size: 3vw;
    color: rgb(115, 115, 115);
    padding-left: 2vw;
}
menu > li > a:hover, a.currPage {
    font-size: 3vw;
    color: whitesmoke;
    padding-left: 2vw;
}
hr {
    margin: 0;
}